<html>
<head>
  <title>Test Project Roster</title>
  <style>
ul {
    list-style-type: none;;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;;;
    padding: 14px 16px;
    text-decoration: underline;;
}

a:hover:not(.active) {
    background-color: #333;
}

.active {
background-color:#4CAF50;
}
</style>
</ul>
<p align=center>You are now on the Roster page. </p>
</body>
</html>
